.leftPanel{
    background-color: red;
    width: 20vw;
    height: 100vh;
    display: inline-block;
    flex-direction: column;
}
.topPanel{
    background-color: blue;
    display: inline-block;
    flex-direction: row;
}
.actionBar{
    background-color: green;
    display: inline-block;
    flex-direction: row;
}
.contentBody{
    background-color: orange;
    display: inline-block;
    flex-direction: row;
}